* {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #17a2b7;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: azure;
    width: 40%;
    padding-inline: 2%;
    padding-block: 25px;
    border-radius: 10px;
    color: #17a2b7;

}

.container form h1 {
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
    margin-bottom: 40px;
}

.container form label p {
    margin-bottom: 15px;
    font-weight: bold;
}

.container form label input.input {
    width: 100%;
    height: 45px;
    color: #17a2b7;
    padding: 10px;
    border: 2px solid #D8D8D8;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container form div.last {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.container form div.last a {
    text-decoration: none;
    color: #17a2b7;
}

.container form div.last a:hover {
    color: black;
}

.container form button {
    background-color: #17a2b7;
    color: #fff;
    margin-top: 30px;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 4px solid #0c8396;
}

.container form button:hover {
    background-color: #0c8396;
}